.comment{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
} 

.commentBox{
    flex: 1;
}

.commentContent{
    background-color: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
}

.commentContent header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.authorAndTime{
    display: flex;
    flex-direction: column;
}

.authorAndTime strong{
    display: block;
    font-size: 0.875rem;
    line-height: 1.6;
}

.authorAndTime time{
    display: block;
    font-size: 0.75rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.commentContent header button{
    background: transparent;
    border: 0;
    border-radius: 2px;
    color: var(--gray-400);
    line-height: 0;
    cursor: pointer;
}

.commentContent header button:hover{
    color: var(--red-500);
}

.commentContent p{
    margin-top: 1rem;
    color: var(--gray-300);
}

.commentBox footer button{
    margin-top: 1rem;
    background-color: transparent;
    color: var(--gray-400);

    border: 0;
    border-radius: 2px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.commentBox footer button:hover{
    color: var(--green-300);
}

.commentBox footer button svg{
    margin-right: 0.5rem;
}

.commentBox footer button span::before{
    content: '\2022';
    padding: 0 0.25rem;
}
    